body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px;
  box-sizing: border-box;
}
.footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  padding-top: 20px;
  width: 100%;
}
.product:hover {
  background-color: #292b2c;
  color: #fff;
}

@media (max-width: 1000px) {
  .nav-inner {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    margin-left: 0 !important;
  }
  .nav-outer {
    display: flex !important;
    flex-direction: row !important;
  }
  body {
    background-color: #292b2c !important;
  }
}
